@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

body {
    margin: 0px;
    padding: 0px 0px;
    margin-bottom: 10px;
}

.home_button {
    height: 1px;
    width: 100%;
}

ul {
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0px 0px;
    overflow: hidden;
    background-color: #008080;
}

.navbar_text {
    float: right;
}

.about {
    float: right;
}

li .navbar_text {
    font-family: sans-serif;
    display: block;
    color: #003566;
    text-align: center;
    padding: 20px 45px;
    text-decoration: none;
}


li .about {
    font-family: sans-serif;
    display: block;
    color: #003566;
    text-align: center;
    padding: 20px 45px;
    text-decoration: none;
}



.home {
    font-family: sans-serif;
    float: left;
    display: block;
    color: #004F60;
    text-align: center;
    padding: 20px 45px;
    text-decoration: none;
}

li .home:hover {
    background-color: rgb(63, 132, 147);
}

.header {
    size: 0px;
    background-color: #008080;
    padding: 50px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: xx-large;
}

.channel {
    font-family: sans-serif;
    float: none;
    display: block;
    background-color: #001d3d;
    color: white;
    text-align: center;
    padding: 25px 45px;
    text-decoration: none;
}

.channel:hover {
    display: block;
    padding: 25px 5px;
    background-color: #003566;
}

.form {
    text-align: center;
}

.footer {
    font-size: small;
    text-align: center;
    font-family: sans-serif;
    font-size: small;
    padding: 10px;
}

.logo {
    position: sticky;
    top: 0;
    float: left;
    height: 58.8px;
    width: 60px;
    padding: 0px;
}


@media screen and (min-width:350px) {
    .form {
        width: 100%;

    }
}